@keyframes scrown {
  0% {
    left: 1%;
    bottom: 610px;
  }
  100% {
    left: 4%;
    bottom: 610px;
  }
}

@keyframes spotion {
  0% {
    right: 10%;
    bottom: 630px;
  }
  100% {
    right: 10%;
    bottom: 650px;
  }
}

@keyframes scup {
  0% {
    transform: rotatez(0deg);
  }
  50% {
    left: 40%;
    bottom: 835px;
  }
  100% {
    transform: rotateZ(30deg);
  }
}

@keyframes span1 {
  0% {
    left: 90%;
    bottom: 860px;
  }
  100% {
    left: 95%;
    bottom: 880px;
  }
}

@keyframes sbigs {
  0% {
    left: 100%;
    bottom: 850px;
  }
  100% {
    left: 97%;
    bottom: 845px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  div.menu {
    display: none;
  }

  div.swrapper {
    width: 100%;
    height: 5553px;
    background-image: url(../image/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    opacity: 0.99;
  }

  div.smenu {
    width: 100%;
    height: 80px;
  }

  div.slogo {
    text-align: center;
    line-height: 105px;
    padding-left: 2.3%;
    width: 20%;
    height: 80px;
    display: inline-block;
  }

  div.slogin {
    width: 8%;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    margin-left: 62%;
  }

  div.slogin > a {
    background-color: white;
    padding: 13px;
    color: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 80px;
    font-weight: 600;
    transition: 300ms;
  }

  div.slogin > a:hover {
    color: blue;
  }

  div.khat {
    display: inline-block;
    margin-left: 2%;
  }

  div.part1 {
    display: none;
  }

  div.spart1 > :nth-of-type(1) {
    width: 600px;
    height: 460px;
    background-image: url(../image/computer-full.png);
    background-repeat: no-repeat;
    background-size: 600px;
    margin: 0 auto;
    background-position: center center;
    margin-top: 50px;
  }

  div.spart1 > :nth-of-type(2) > h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 40px;
    font-weight: 600;
    width: 50%;
    word-spacing: 5px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 60px;
  }

  div.spart1 > :nth-of-type(2) > p {
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 40px;
  }

  div.star4 {
    display: none;
  }

  div.srobot > img {
    width: 38px;
    height: 44px;
    position: relative;
    left: 12%;
    top: 380px;
  }

  div.skhers > img {
    width: 120px;
    height: 94px;
    position: relative;
    left: 230px;
    top: 290px;
  }

  div.shat > img {
    width: 40px;
    height: 30px;
    position: relative;
    left: 270px;
    top: 150px;
  }

  div.sstar4 > img {
    position: relative;
    width: 100%;
    bottom: 300px;
    opacity: 1;
    z-index: -5;
  }

  div.scrown > img {
    position: relative;
    left: 1%;
    bottom: 610px;
    width: 130px;
    height: 130px;
    animation-name: scrown;
    animation-duration: 5000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  div.spotion > img {
    position: relative;
    right: 10%;
    bottom: 630px;
    width: 60px;
    height: 70px;
    animation-name: spotion;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  div.scup > img {
    position: relative;
    left: 35%;
    bottom: 830px;
    width: 90px;
    height: 90px;
    animation-name: scup;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  div.span1 > img {
    position: relative;
    left: 90%;
    bottom: 860px;
    width: 95px;
    height: 125px;
    animation-name: span1;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  div.sbigs > img {
    position: relative;
    left: 100%;
    bottom: 850px;
    width: 50px;
    height: 50px;
    animation-name: sbigs;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  div.downloader {
    display: none;
  }

  div.sdownloader {
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }

  div.sd {
    background-color: white;
    width: 290px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 30px;
    transition: 300ms;
    margin: 0 auto;
  }

  div.sd:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.sd > a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    margin-left: 13px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  div.sd > a:hover {
    color: blue;
  }

  div.sd > i {
    font-size: 15px;
  }

  div.so {
    background-color: rgba(22, 28, 187, 1);
    width: 317px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 30px;
    transition: 300ms;
    margin: 20px auto;
  }

  div.so:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.so > a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 13px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  div.film1 {
    display: none;
  }

  div.sfilm1 {
    width: 86%;
    height: 395px;
    margin: 80px auto;
    backdrop-filter: blur(250px);
    background-color: rgba(255, 252, 252, 0.126);
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.116);
    border-radius: 60px;
    display: flex;
  }

  div.svideo1 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1.5%;
  }

  div.svideo1 > video {
    border-radius: 50px;
    width: 83.5%;
  }

  div.smatn1 {
    width: 37%;
    height: 100%;
  }

  div.smatn1 > :nth-of-type(1) {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px;
    word-spacing: -1px;
    margin-top: 40px;
    color: white;
    width: 250px;
  }

  div.smatn1 > :nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 250px;
    line-height: 35px;
  }

  div.gif {
    display: none;
  }

  div.sgif {
    position: absolute;
    left: 70%;
    top: 1013px;
    display: inline-block;
  }

  div.sgif > img {
    width: 130px;
  }

  div.star5 {
    display: none;
  }

  div.sstar5 {
    position: absolute;
  }

  div.sstar5 > img {
    width: 100%;
  }
  div.film2 {
    display: none;
  }

  div.film1 {
    display: none;
  }

  div.sfilm2 {
    width: 86%;
    height: 395px;
    margin: 80px auto;
    backdrop-filter: blur(250px);
    background-color: rgba(255, 252, 252, 0.126);
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.116);
    border-radius: 60px;
    display: flex;
    margin-top: 200px;
  }

  div.svideo2 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1.5%;
  }

  div.svideo2 > video {
    border-radius: 50px;
    width: 83.5%;
  }

  div.smatn2 {
    width: 37%;
    height: 100%;
  }

  div.smatn2 > :nth-of-type(1) {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px;
    word-spacing: -1px;
    margin-top: 40px;
    color: white;
    width: 250px;
  }

  div.smatn2 > :nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 250px;
    line-height: 35px;
  }

  div.star6 {
    display: none;
  }

  div.star7 {
    display: none;
  }

  div.film3 {
    display: none;
  }

  div.sfilm3 {
    width: 86%;
    height: 395px;
    margin: 80px auto;
    backdrop-filter: blur(250px);
    background-color: rgba(255, 252, 252, 0.126);
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.116);
    border-radius: 60px;
    display: flex;
    margin-top: 200px;
  }

  div.svideo3 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1.5%;
  }

  div.svideo3 > video {
    border-radius: 50px;
    width: 83.5%;
  }

  div.smatn3 {
    width: 37%;
    height: 100%;
  }

  div.smatn3 > :nth-of-type(1) {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px;
    word-spacing: -1px;
    margin-top: 40px;
    color: white;
    width: 250px;
  }

  div.smatn3 > :nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 250px;
    line-height: 35px;
  }

  div.bar {
    display: none;
  }

  div.film4 {
    display: none;
  }

  div.film3 {
    display: none;
  }

  div.sfilm4 {
    width: 86%;
    height: 395px;
    margin: 80px auto;
    backdrop-filter: blur(250px);
    background-color: rgba(255, 252, 252, 0.126);
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.116);
    border-radius: 60px;
    display: flex;
    margin-top: 200px;
  }

  div.svideo4 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1.5%;
  }

  div.svideo4 > video {
    border-radius: 50px;
    width: 83.5%;
  }

  div.smatn4 {
    width: 37%;
    height: 100%;
  }

  div.smatn4 > :nth-of-type(1) {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px;
    word-spacing: -1px;
    margin-top: 40px;
    color: white;
    width: 250px;
  }

  div.smatn4 > :nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 250px;
    line-height: 35px;
  }

  div.film5 {
    display: none;
  }

  div.sfilm5 {
    width: 86%;
    height: 395px;
    margin: 80px auto;
    backdrop-filter: blur(250px);
    background-color: rgba(255, 252, 252, 0.126);
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.116);
    border-radius: 60px;
    display: flex;
    margin-top: 200px;
  }

  div.svideo5 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1.5%;
  }

  div.svideo5 > video {
    border-radius: 50px;
    width: 83.5%;
  }

  div.smatn5 {
    width: 37%;
    height: 100%;
  }

  div.smatn5 > :nth-of-type(1) {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px;
    word-spacing: -1px;
    margin-top: 40px;
    color: white;
    width: 250px;
  }

  div.smatn5 > :nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 250px;
    line-height: 35px;
  }

  div.film6 {
    display: none;
  }

  div.sfilm6 {
    width: 86%;
    height: 395px;
    margin: 80px auto;
    backdrop-filter: blur(250px);
    background-color: rgba(255, 252, 252, 0.126);
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.116);
    border-radius: 60px;
    display: flex;
    margin-top: 200px;
  }

  div.svideo6 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1.5%;
  }

  div.svideo6 > video {
    border-radius: 50px;
    width: 83.5%;
  }

  div.smatn6 {
    width: 37%;
    height: 100%;
  }

  div.smatn6 > :nth-of-type(1) {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 35px;
    word-spacing: -1px;
    margin-top: 40px;
    color: white;
    width: 250px;
  }

  div.smatn6 > :nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 250px;
    line-height: 35px;
  }

  div.star8 {
    display: none;
  }

  div.star9 {
    display: none;
  }

  div.star10 {
    display: none;
  }

  div.star11 {
    display: none;
  }

  div.mah {
    display: none;
  }

  div.jem {
    display: none;
  }

  div.baseball {
    display: none;
  }

  div.screw {
    display: none;
  }

  div.cube {
    display: none;
  }

  div.download2 {
    display: none;
  }

  div.star12 {
    display: none;
  }

  div.sdownload2 > p {
    width: 80%;
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 0 auto;
    text-align: center;
  }

  div.sd2 {
    width: 295px;
    height: 52px;
    background-color: rgba(88, 101, 242, 1);
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    transition: 300ms;
  }

  div.sd2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.sd2 > a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  div.sd2 > i {
    color: white;
  }

  div.sdownload2 > img {
    width: 100%;
    margin-top: 110px;
  }

  div.sstar12 {
    position: absolute;
    bottom: 3200px;
    z-index: -5;
  }

  div.sstar12 > img {
    width: 100%;
  }

  div.footer {
    display: none;
  }

  div.sfooter {
    width: 100%;
    height: 950px;
    background-image: linear-gradient(to right, #646499, #362e81);
    border-top-style: solid;
    border-top-color: #a4a5ce;
    border-top-width: 5px;
    position: relative;
    bottom: 4px;
  }

  div.sf1 {
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center; gap: 10px;
  }

  div.flag {
    width: 32%;
    height: 200px;
    margin-top: 120px;
  }

  div.flag > :nth-of-type(1) > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  div.flag > :nth-of-type(2) {
    color: white;
    font-size: 23px;
    padding-left: 30px;

  }

  div.flag > :nth-of-type(2) > i {
    padding-left: 9px;
  }

  div.sx1 {
    width: 32%;
    height: fit-content;
    margin-top: 100px;
    padding-left: 60px;
  }

  div.sx1 > div {
    padding-bottom: 10px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  div.sx1 > div > :nth-of-type(1) {
    margin-bottom: 20px;
  }

  div.sx1 > :nth-of-type(6) {
    margin-bottom: 50px;
  }

  div.sx1 > div > a {
    color: white;
    font-weight: 400;
    font-size: 14px;
    
  }

  div.sx1 > div > a:hover {
    text-decoration: underline;
  }

  div.sx2 {
    width: 32%;
    height: fit-content;
    margin-top: 100px;
  }

  div.sx2 > div {
    padding-bottom: 10px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  div.sx2 > div > :nth-of-type(1) {
    margin-bottom: 20px;
  }

  div.sx2 > :nth-of-type(5) {
    margin-bottom: 75px;
  }

  div.sx2 > div > a {
    color: white;
    font-weight: 400;
    font-size: 14px;
  }

  div.sx2 > div > a:hover {
    text-decoration: underline;
  }

  div.sf2 {
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 72%;
    border-top: solid white 1px;
  }

  div.sf2 > img {
    height: 34px;
  }

  div.sf2 > div.s {
    width: 77px;
    height: 38px;
    background-color: #5865f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    transition: 300ms;
  }

  div.sf2 > div.s:hover {
    background-color: #8892f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.sf2 > div.s > a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
}
